.page {
  width: 100%;
  height: 100%;
  display: flex;
  background: var(--main-bg);
}

.pdfViewer {
  width: 100%;
  height: 100%;
  border: none;
  min-height: calc(100vh - 65px); /* Ensure it takes full editor height */
}
